<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<form method="post" action="@{/users}" th:object="user">

    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id = "name" placeholder="Имя"/>

    <br>

    <label for="lastname">Фамилия</label>
    <input type="text" id="lastname" placeholder="Фамилия"/>

    <br>

    <label for="mail">Почта</label>
    <input type="text" id="mail" placeholder="Почта"/>

    <br>

    <input type = "submit" value = "Создать"/>
</form>
</body>
</html>